.card img {
    width :200px;
    height:150px;
    margin-bottom :20px;
    transition :0.3s ease-in-out;
}

.card{
    padding: 20px;
    margin:30px;
}

.card img:hover {
    transition : 0.3s ease-in-out;
    transform : scale(1.1);
}